body{
    font-family: 'Arima', cursive;
font-family: 'Lobster Two', cursive;
}
.title-color{
    color: orangered;
}
.m-coller{
    color: Orange;
}
.border-color{
    border-left: 5px solid orangered;
    border-radius: 5px ;
}
.msg-img img{
    height: 120px;
    border-radius: 120%;
}
.bacground{
    background-color: rgb(167, 190, 189);
}

.m-color{
    color: Orange;
}
.img img{
    height: 50px;
    border-radius: 50%;
}



